@charset "utf-8";

img {
    max-width: 100%;
    height: auto;
}

h1, h2, nav a, .btn-menu, input[type=submit] {
    font-family: "Cinzel",Georgia,Times,"Times New Roman",serif;
}
p, th, td, label, input, select {
    font-family: "Slabo 27px",Georgia,Times,"Times New Roman",serif; 
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    width: 100%;
    margin: 0 auto;
}

.banner {
    display: flex;
    flex-direction: column;
    font-weight: bold;
}

.home-banner {
    height: 75vh;
    min-height: 400px;
    background: url(../images/banner.jpg);
    background-size: cover;
    background-position: center center; 
}

.home-banner, 
.home-banner a, 
.home-banner button {
    color: white;
}

.sub-banner, .sub-banner a {
    color: black;
}

.home-banner header,
.home-banner .greeting{
    background-color: rgba(0,0,0,0.2); 
}

header {  
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 20px 40px;
}

header h1{
    line-height: 100px;
    min-width: 220px;
    margin: 0 20px;
}

header .emblem {
    max-height: 80px;
}

header .btn-menu {
    display: none;
}

header nav ul li:first-child {
    display: none;
}

header nav {
    margin-left: auto;
    width: 480px;
}

header nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    height: 100%;
    width: 100%;
    list-style: none;
    margin: 0;
    padding: 0;
}

header nav a {
    font-size: 1.2rem;
}

.home-banner header a:hover,
.home-banner header a:active,
.home-banner header a:focus {
    color: white;
}

.banner .greeting {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 20px 40px;
}

.banner .greeting h1,
.banner .greeting h2,
.banner .greeting p{
    align-self: center;
    text-align: center;
    margin-bottom: 0;
    font-size: 4rem;
}

.banner .greeting h2 {
    font-size: 3rem;
}
.banner .greeting p {
    max-width: 650px;
    font-weight: normal;
    font-size: 1.4rem;
    color: #666;
}

main {
    flex: 1;
    margin: 0 auto;
    padding: 40px;
    width: 100%;
    max-width: 1200px;  
}

main.home-main {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

main.home-main section {
    flex: 0 1 250px;
    padding: 15px;
    display: flex;
    flex-direction: column;
}

main.home-main section a {
    text-align: center;
}

main.home-main section a:hover,
main.home-main section a:active,
main.home-main section a:focus {
    text-decoration: none;
}

main.home-main section a img {
    max-width: 125px;
}

main.home-main section a h2 {
    color: black;
}

main.home-main section a p {
    /*    padding: 0 15px;*/
    color: #666;
}

.table-wrapper {
    overflow-x: auto;
    width: 100%;
}

main .table-section,
main .form-section {
    margin-bottom: 20px;
    padding: 20px;
    border-radius: 5px;
    background-color: #EEE;
}

th, td {
    min-width: 97px;
    text-align: center;
}

tr:nth-child(even) {
    background-color: #DDD;
}

.form-row {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
}

.form-row label {
    margin: 0;
    min-width: 80px;
}

.form-row input,
.form-row select {
    flex: 1;
    min-width: 200px;
    min-height: 30px;
    border-radius: 5px;
}

.form-row input[type=submit] {
    background-color: #0F659E;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-weight: bold;
}

footer {
    padding: 20px;
    background-color: black;
    color: white;
}

footer p {
    margin: 0;
    text-align: center;
}

@media only screen and (max-width: 900px) {
    header {
        padding-bottom: 0;
    }
    header nav {
        width: 100%;
        background-color: rgba(0,0,0,0.2);
    }
    main.home-main section {
        flex: 1 1 300px;
    }
}

@media only screen and (max-width: 750px) {
    header .btn-menu {
        position: fixed;
        bottom: 20px;
        right: 5%;
        z-index: 2;

        display: block;
        width: 44px;
        height: 44px;
        background-color: rgba(0,0,0,0.4);
        border: none;
        border-radius: 5px;

        color: white;
        font-size: 2rem;
        font-weight: bold;
        cursor: pointer;
    }
    header .btn-menu:focus {
        outline: none;
    }
    header nav {
        position: fixed;
        right: 5%;
        bottom: 20px;
        height: 200px;
        width: 90%;
        max-width: 300px;
        z-index: 1;
        padding: 15px;

        background-color: rgba(0,0,0,0.7);
        border-radius: 5px;

        visibility: hidden;
        transform: scale(0);
        transform-origin: 100% 100%;
        transition: transform 0.3s, visibility 0s 0.3s;
    }
    header nav.open {
        visibility: visible;
        transform: scale(1);
        transition: transform 0.3s, visibility 0s 0s;
    }
    header nav ul {
        flex-direction: column;
        align-items: center;
    }
    header nav ul li:first-child {
        display: block;
    }
    .sub-banner nav a {
        color: white;
    }
}

@media only screen and (max-width: 540px) {
    header {
        padding: 10px 20px;
    }
    header .emblem{
        max-height: 60px;     
    }
    header h1 {
        min-width: inherit;
        line-height: 80px;
        font-size: 1.7rem;
    }
    .banner .greeting,
    main {
        padding: 0 25px;
    }
    .banner .greeting h1 {
        font-size: 12vw;
    }
    .banner .greeting h2 {
        font-size: 9vw;
    }
    .banner .greeting p {
        font-size: 1.2rem;
    }

}